build
logs
pcaps
s*-runtime.json
topology.json
.$topology.drawio.*
__pycache__
log
pcap
controller_output.log
switch_program.json
switch_program.p4i
*.log
controller.out
switch_program_p4rt.txt
reg_history.csv
*.aux
*.bcf
*.run.xml
bytes_sent.pdf